PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-05-13 04:35:48.753694');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2024-05-13 04:35:48.768656');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2024-05-13 04:35:48.793306');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
INSERT INTO auth_group VALUES(1,'administrador');
INSERT INTO auth_group VALUES(2,'cliente');
INSERT INTO auth_group VALUES(3,'paseador');
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "edad" integer NULL, "direccion" varchar(80) NULL, "telefono" varchar(20) NULL, "comuna" varchar(100) NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$AzirGDA1zRJqGeKVQxedB1$O6NZCL8Wp5bWL1hPrPNvzfeZOCiEdsLW7Hy49NYNr28=','2024-10-15 23:51:10.683604',1,'admin','','',1,1,'2024-05-13 04:37:01.881235','admin@admin.cl',NULL,NULL,NULL,NULL);
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$720000$MLkDebX1WxxJLJFZ9qOqwz$U09w+qTPnsjYPgxfCp9SlVT3G36AAD+k46cabdZKBc4=',NULL,0,'prueba','asd','',0,1,'2024-05-13 04:37:40','asd@asd.cl',NULL,NULL,NULL,'Estaci├│n Central');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$720000$2kIubiDKKZWeDrIwgs3Y4Q$ntelBuUb4KUs5UjT8f2NClOOgwldXLArZfLedUa3BPE=',NULL,1,'admin2','','',1,1,'2024-05-13 04:40:50','rocco@hotmail.com',2,NULL,NULL,'├æu├▒oa');
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO auth_user_groups VALUES(1,2,2);
INSERT INTO auth_user_groups VALUES(4,6,2);
INSERT INTO auth_user_groups VALUES(8,5,2);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'2','prueba',1,'[{"added": {}}]',6,1,'2024-05-13 04:37:41.340157');
INSERT INTO django_admin_log VALUES(2,'2','prueba',2,'[{"changed": {"fields": ["Groups", "Comuna"]}}]',6,1,'2024-05-13 04:38:05.868549');
INSERT INTO django_admin_log VALUES(3,'2','prueba',2,'[{"changed": {"fields": ["First name"]}}]',6,1,'2024-05-13 04:39:37.833928');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('jggq7gzryvotvwv9pbumwleb4zgxxnj6','.eJxVjMEOwiAQRP-FsyGUrlA8evcbyLIsUjWQlPZk_Hdp0oNeJpN5M_MWHrc1-63x4ucoLmIQp98sID257CA-sNyrpFrWZQ5yr8iDNnmrkV_Xo_t3kLHlvjagDQe0ahzAgU3ApBMklybFZ4JgHIKyMBG7sRunuiqDSVlOQROKzxfMyDd1:1s6yoV:e4F2hSBMfScFYFnmd12VKn1kkZxiLAcjIYMh0KRsczE','2024-05-28 20:31:55.217978');
INSERT INTO django_session VALUES('4b8cghty3pr5p1jzwhv6g4dl0l0s5fom','.eJxVjMsOwiAQAP-FsyE8XLp49O43kKUsUjWQlPZk_HdD0oNeZybzFoH2rYS98xqWJC7CidMvizQ_uQ6RHlTvTc6tbusS5UjkYbu8tcSv69H-DQr1MrZEXnkPyZ8xW8xGa8MODYBLWgEAgrXMRlvKjC4ST6SiNjBFRchJfL69_jdL:1s7Si4:1zpLZCfhnI9mt8a36oHCWmhX8Tpv766xxguMvZu6kfo','2024-05-30 04:27:16.284762');
INSERT INTO django_session VALUES('m8fm9it1wdojzncmcw2ph0ohnnbt3dh5','.eJxVjMsOwiAQAP-FsyE8XLp49O43kKUsUjWQlPZk_HdD0oNeZybzFoH2rYS98xqWJC7CidMvizQ_uQ6RHlTvTc6tbusS5UjkYbu8tcSv69H-DQr1MrZEXnkPyZ8xW8xGa8MODYBLWgEAgrXMRlvKjC4ST6SiNjBFRchJfL69_jdL:1s8BwZ:tuH_qjM2kegRKrxL_h2aiRIwly-r94j8Eabbti4RV24','2024-06-01 04:45:15.016569');
CREATE TABLE IF NOT EXISTS "administrador_contacto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "telefono" varchar(15) NOT NULL, "email" varchar(254) NOT NULL, "mensaje" text NOT NULL);
INSERT INTO administrador_contacto VALUES(1,'Camila','1234567','asd@asd.cl','asdasda');
INSERT INTO administrador_contacto VALUES(2,'Valentin','1234567','asd@asd.cl','asdsadasdas');
INSERT INTO administrador_contacto VALUES(3,'Valentin','1234567','asd@asd.cl','asdasdas');
CREATE TABLE IF NOT EXISTS "cliente" ("user_ptr_id" bigint NOT NULL PRIMARY KEY REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "foto_perfil" varchar(100) NULL);
INSERT INTO cliente VALUES(5,NULL);
INSERT INTO cliente VALUES(6,NULL);
INSERT INTO cliente VALUES(10,NULL);
CREATE TABLE IF NOT EXISTS "paseador_horariopaseo" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "dia" varchar(20) NOT NULL, "hora_inicio" time NOT NULL, "paseador_id" bigint NOT NULL REFERENCES "paseador" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED, "hora_fin" time NULL);
INSERT INTO paseador_horariopaseo VALUES(9,'lunes','09:30:00',21,'10:30:00');
INSERT INTO paseador_horariopaseo VALUES(10,'lunes','11:30:00',21,'12:30:00');
INSERT INTO paseador_horariopaseo VALUES(11,'jueves','13:00:00',21,'14:00:00');
CREATE TABLE IF NOT EXISTS "reserva_reserva" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_solicitud" datetime NOT NULL, "mascota_id" bigint NULL REFERENCES "cliente_mascota" ("id") DEFERRABLE INITIALLY DEFERRED, "horario_paseo_id" bigint NOT NULL REFERENCES "paseador_horariopaseo" ("id") DEFERRABLE INITIALLY DEFERRED, "estado" varchar(20) NOT NULL, "fecha_paseo" date NULL, "precio" integer NULL);
INSERT INTO reserva_reserva VALUES(112,'2024-10-09 16:44:09.809033',38,65,'finalizada','2024-10-15',10000);
INSERT INTO reserva_reserva VALUES(113,'2024-10-09 19:13:47.186342',38,65,'finalizada','2024-10-22',10000);
INSERT INTO reserva_reserva VALUES(115,'2024-10-10 21:18:43.083213',38,67,'finalizada','2024-10-16',10000);
CREATE TABLE IF NOT EXISTS "paseo_paseo" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_paseo" date NOT NULL, "hora_inicio" datetime NULL, "hora_termino" datetime NULL);
INSERT INTO paseo_paseo VALUES(69,'2024-10-30',NULL,'2024-10-15 23:34:50.554103');
INSERT INTO paseo_paseo VALUES(70,'2024-10-21','2024-10-15 23:41:41.268539','2024-10-15 23:42:43.054440');
CREATE TABLE IF NOT EXISTS "paseo_paseo_reservas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "paseo_id" bigint NOT NULL REFERENCES "paseo_paseo" ("id") DEFERRABLE INITIALLY DEFERRED, "reserva_id" bigint NOT NULL REFERENCES "reserva_reserva" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO paseo_paseo_reservas VALUES(103,69,120);
INSERT INTO paseo_paseo_reservas VALUES(104,70,121);
CREATE TABLE IF NOT EXISTS "paseo_coordenadas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "latitud" real NOT NULL, "longitud" real NOT NULL, "timestamp" datetime NOT NULL, "paseo_id" bigint NOT NULL REFERENCES "paseo_paseo" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO paseo_coordenadas VALUES(1233,-33.45250000000000056,-70.64660000000000651,'2024-10-15 23:41:46.282622',70);
INSERT INTO paseo_coordenadas VALUES(1234,-33.45250000000000056,-70.64660000000000651,'2024-10-15 23:41:50.280481',70);
INSERT INTO paseo_coordenadas VALUES(1235,-33.45250000000000056,-70.64660000000000651,'2024-10-15 23:41:54.282745',70);
CREATE TABLE IF NOT EXISTS "administrador" ("user_ptr_id" bigint NOT NULL PRIMARY KEY REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO administrador VALUES(47);
INSERT INTO administrador VALUES(55);
CREATE TABLE IF NOT EXISTS "paseador" ("user_ptr_id" bigint NOT NULL PRIMARY KEY REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "cantidad_mascotas" integer NOT NULL, "descripcion" text NULL, "foto_perfil" varchar(100) NULL, "puntuacion_postulacion" integer NOT NULL);
INSERT INTO paseador VALUES(18,3,NULL,'',0);
INSERT INTO paseador VALUES(23,5,'Un hombre din├ímico y comprometido, con una pasi├│n evidente por el bienestar animal y la naturaleza. Con habilidades excepcionales en el cuidado y manejo de mascotas, se destaca por su dedicaci├│n y amor hacia los animales. Posee una personalidad amigable y en├®rgica, lo que facilita una conexi├│n natural con las mascotas y sus due├▒os. Adem├ís, cuenta con una s├│lida ├®tica de trabajo y habilidades comunicativas, fundamentales para ofrecer un servicio profesional y de confianza en el cuidado y paseo de perros.','paseadores/foto_perfil_hombre.jpg',0);
CREATE TABLE IF NOT EXISTS "cliente_mascota" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(30) NOT NULL, "edad" integer NOT NULL, "foto" varchar(100) NULL, "duenno_id" bigint NOT NULL REFERENCES "cliente" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED, "tamanno" varchar(20) NOT NULL, "descripcion" text NULL, "peso" integer NOT NULL, "raza" varchar(50) NOT NULL, "sexo" varchar(10) NOT NULL);
INSERT INTO cliente_mascota VALUES(1,'Cachupin',6,'mascotas/perrito.jpg',6,'grande',NULL,7,'otra','hembra');
INSERT INTO cliente_mascota VALUES(2,'Cahupin2',10,'mascotas/cachupin2.jpg',6,'pequenno',NULL,7,'otra','hembra');
INSERT INTO cliente_mascota VALUES(3,'firulais',15,'mascotas/firulais.jpg',17,'pequenno',NULL,7,'otra','hembra');
CREATE TABLE IF NOT EXISTS "reserva_mensaje" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "mensaje" text NOT NULL, "fecha_envio" datetime NOT NULL, "reserva_id" bigint NOT NULL REFERENCES "reserva_reserva" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO reserva_mensaje VALUES(6,'hola viene en camino?','2024-10-09 16:45:03.308490',112,53);
INSERT INTO reserva_mensaje VALUES(7,replace(replace('si ya en camino amigo. su direcci├│n?\r\n','\r',char(13)),'\n',char(10)),'2024-10-09 16:45:28.616587',112,49);
INSERT INTO reserva_mensaje VALUES(8,'buenas quetal?','2024-10-09 19:24:32.386506',113,49);
CREATE TABLE IF NOT EXISTS "reserva_calificacion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "estrellas" integer unsigned NOT NULL CHECK ("estrellas" >= 0), "comentario" text NULL, "reserva_id" bigint NOT NULL UNIQUE REFERENCES "reserva_reserva" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO reserva_calificacion VALUES(2,3,'estuvo bien.',112);
INSERT INTO reserva_calificacion VALUES(3,4,'muy buen paseo',113);
INSERT INTO reserva_calificacion VALUES(5,4,'muy buen paseo!.',115);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',52);
INSERT INTO sqlite_sequence VALUES('django_content_type',17);
INSERT INTO sqlite_sequence VALUES('auth_permission',68);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "paseador_horariopaseo_paseador_id_6c34f1c9" ON "paseador_horariopaseo" ("paseador_id");
CREATE INDEX "reserva_reserva_mascota_id_4fd3a1dd" ON "reserva_reserva" ("mascota_id");
CREATE INDEX "reserva_reserva_horario_paseo_id_868215ab" ON "reserva_reserva" ("horario_paseo_id");
CREATE UNIQUE INDEX "paseo_paseo_reservas_paseo_id_reserva_id_4a2817b7_uniq" ON "paseo_paseo_reservas" ("paseo_id", "reserva_id");
CREATE INDEX "paseo_paseo_reservas_paseo_id_8b082a70" ON "paseo_paseo_reservas" ("paseo_id");
CREATE INDEX "paseo_paseo_reservas_reserva_id_4aa5d3ec" ON "paseo_paseo_reservas" ("reserva_id");
CREATE INDEX "paseo_coordenadas_paseo_id_82a7565b" ON "paseo_coordenadas" ("paseo_id");
CREATE INDEX "cliente_mascota_duenno_id_25aa960b" ON "cliente_mascota" ("duenno_id");
CREATE INDEX "reserva_mensaje_reserva_id_53fbfde6" ON "reserva_mensaje" ("reserva_id");
CREATE INDEX "reserva_mensaje_usuario_id_9cfc6ed4" ON "reserva_mensaje" ("usuario_id");
COMMIT;
